services:
  api:
    build: ./system/api
    container_name: api
    ports:
      - "8000:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000

  feeder:
    build: ./feeder
    container_name: feeder
    depends_on:
      - api
    environment:
      LOG_MODE: http
      HTTP_ENDPOINT: http://api:8000/logs/ingest
      HTTP_TIMEOUT: 5
  

  broker:
    image: redis:7-alpine
    container_name: incidentiq-broker
    environment:
      - PROMETHEUS_MULTIPROC_DIR=/tmp/prometheus
      - PROMETHEUS_PORT=8001
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    restart: unless-stopped

  worker:
    build: ./system/worker
    depends_on:
      - broker
    ports:
      - "8001:8001"

  prometheus:
    image: prom/prometheus
    container_name: incidentiq-prometheus
    volumes:
      - ./infra/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

volumes:
  redis_data: