[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
celery = "*"
redis = "*"
prometheus-client = "==0.19.0"

[dev-packages]

[requires]
python_version = "3.14"
